/* --- HEADER --- */
.header-container {
  background-color: #15803d;
  box-shadow: 0 0.4rem 0.8rem rgba(145, 145, 145, 0.16);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}

.pet-shelter-logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #fffbeb;
}

.pet-shelter-logo h1 {
  font-size: 2.4rem;
}

/* ----- NAV ----- */
.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fffbeb;
  font-weight: 600;
  font-size: 2rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 3px solid #fffbeb;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  color: #fffbeb;
  background-color: #172554;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  transition: background-color 0.3s;
  background-color: rgba(23, 37, 84, 0.8);
  border-bottom: none;
}

/* --- HERO SECTION --- */
.section-hero {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.hero-text-box .btn:link,
.hero-text-box .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.4rem 2.8rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.hero-text-box .btn--full {
  margin-right: 2.4rem;
}

.hero-text-box .btn--full:link,
.hero-text-box .btn--full:visited {
  background-color: #15803d;
  color: #fffbeb;
}

.hero-text-box .btn--full:hover,
.hero-text-box .btn--full:active {
  background-color: rgba(21, 128, 60, 0.8);
}

.hero-text-box .btn--outline:link,
.hero-text-box .btn--outline:visited {
  background-color: #fffbeb;
  color: #172554;
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 0.3rem #172554;
}

.hero-text-box .btn--outline:hover,
.hero-text-box .btn--outline:active {
  background-color: #172554;
  color: #fffbeb;
}

.hero-img {
  width: 100%;
}

/* --- ABOUT US SECTION --- */
.section-about {
  background-color: #fffefb;
  padding: 4.8rem 0 9.6rem 0;
}

.about-container {
  max-width: 130rem;
  margin: 0 auto;
}

.history-container,
.mission-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.history-container {
  margin-bottom: 3.2rem;
}

.history-text p,
.mission-text p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
}

.history-img {
  width: 100%;
  border-radius: 50% 20% / 10% 40%;
}

.mission-img {
  width: 100%;
  border-radius: 10% 40% / 50% 20%;
}

/* --- PETS SECTION --- */
.section-pets {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
  max-width: 130rem;
  margin: 0 auto;
}

.pets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  justify-items: center;
}

.section-pets .heading-tertiary {
  color: #fffbeb;
}

.section-pets p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.adopt-pets,
.let-go-pets {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1.2rem 2.4rem;
}

.adopt-pets {
  border-radius: 10% 20% / 10% 20%;
  background-color: #15803d;
  color: #fffbeb;
}

.let-go-pets {
  border-radius: 20% 10% / 20% 10%;
  background-color: #172554;
  color: #fffbeb;
}

.section-pets .btn:link,
.section-pets .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}

.adopt-pets .btn--full:link,
.adopt-pets .btn--full:visited {
  background-color: #172554;
  color: #fffbeb;
}

.adopt-pets .btn--full:hover,
.adopt-pets .btn--full:active {
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 0.2rem #fffbeb;
}

.let-go-pets .btn--full:link,
.let-go-pets .btn--full:visited {
  background-color: #15803d;
  color: #fffbeb;
}

.let-go-pets .btn--full:hover,
.let-go-pets .btn--full:active {
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 0.2rem #fffbeb;
}

/* --- WHY ADOPT SECTION --- */
.section-why {
  background-color: #fffefb;
  padding: 4.8rem 0 9.6rem 0;
}

.why-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.why-adopt-video-container {
  align-self: center;
  width: 80rem;
  height: 45rem;
}

/* --- CONTACT US SECTION --- */
.section-contact {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
}

.contact-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  align-self: center;
  background-color: #15803d;
  color: #fffbeb;
  border-radius: 10px;
  padding: 4.8rem 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2.4rem 4.8rem;
}

.contact-form-container h3 {
  color: #fffbeb;
  text-shadow: 1px 1px 2px #15214c;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.textarea-container {
  grid-column: 1/3;
}

.form-submit-btn-container {
  grid-column: 1/3;
}

.cta-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fffefb;
  color: #15214c;
  border-radius: 5px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
}

.cta-form input::placeholder {
  color: #1b233d;
}

.cta-form *:focus {
  outline: solid 2px #2cdd6d;
}

.submit-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  transition: all 0.3s;
  color: #fffbeb;
  background-color: #172554;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: rgba(23, 37, 84, 0.8);
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 0.2rem #fffbeb;
}

/* ----- LET GO PAGE ----- */
.section-let-go {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
}

.let-go-container {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.let-go-text-box p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.let-go-text-box a {
  text-decoration: none;
}

.let-go-text-box a:link,
.let-go-text-box a:visited {
  color: #15803d;
}

.let-go-text-box a:hover,
.let-go-text-box a:active {
  text-decoration: underline;
}

.let-go-img {
  width: 100%;
  border-radius: 50% 20% / 10% 40%;
}

/* ----- ADOPT PAGE ----- */
.adoption-info-container {
  padding: 4.8rem 0 9.6rem 0;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.adoption-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.pet-circle-container img {
  box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.6rem 1.2rem;
}

.adoption-pet-type {
  border-radius: 50%;
  border: 4px solid #15803d;
  width: 18rem;
  height: 18rem;
}

.adoption-card-link {
  display: flex;
  flex-basis: 100%;
  text-decoration: none;
  cursor: pointer;
}

.adoption-card {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  padding: 1.6rem;
  border-radius: 10px;
  border: #1b233d 3px solid;
  box-shadow: 0.2rem 0.3rem 0 0 #1b233dd2;
  transition: 0.3s ease;
}

.adoption-card:hover,
.adoption-card:active {
  transform: scale(1.04);
  border-color: #15803d;
  box-shadow: 0.4rem 0.6rem 0 0 #1b233dd2;
}

.adoption-card h2 {
  align-self: center;
  margin-bottom: 1.6rem;
}

.adoption-card p {
  color: #15214c;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.5px;
}

/* ----- PET GALLERY ----- */
.main-container-pet-gallery,
.main-container-dog-gallery,
.main-container-cat-gallery {
  padding: 4.8rem 0 9.6rem 0;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
  row-gap: 4.8rem;
}

.pet-cards {
  background-color: #2cdd6d;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0.3rem 2.4rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.pet-cards:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.3rem 2.4rem;
}

.pet-cards-img {
  width: 100%;
  height: 60%;
  margin-bottom: 1.2rem;
  object-fit: cover;
}

.pet-cards-contents {
  color: #172554;
  padding: 0 1.6rem 1.6rem 1.6rem;
  text-align: center;
}

.pet-cards-contents h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.pet-cards-contents p {
  font-size: 1.4rem;
  font-weight: 500;
}

/* ----- footer ----- */
footer {
  background-color: #172554;
  margin-top: auto;
}

.footer-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 0 9.6rem 0;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #2cdd6d;
  text-transform: uppercase;
}

.footer-address {
  color: #fffbeb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.footer-nav a {
  color: #fffbeb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-decoration: none;
  list-style: none;
}

.footer-nav a:hover {
  color: rgba(44, 221, 109, 0.8);
}

.footer-socials .footer-heading {
  text-align: center;
}

.footer-socials i {
  color: #f5f4e9;
  font-size: 3.6rem;
  transition: all 0.3s ease-in-out;
}

.footer-social-links {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.footer-socials i:hover {
  color: rgba(44, 221, 109, 0.8);
}

/* ----- MEDIA QUERIES ----- */
/* NOTE: 1 rem = 1 em = 16px */
/* --- 
1360px (Smaller desktops)
(84em * 16px = 1360px) 
--- */
@media (max-width: 85em) {
  .header-container,
  .section-hero,
  .section-about,
  .section-pets,
  .section-why,
  .section-contact,
  .section-let-go,
  .adoption-info-container,
  .main-container-pet-gallery,
  .main-container-dog-gallery,
  .main-container-cat-gallery,
  .footer-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* --- 
1200px (Landscape tablets)
(75em * 16px = 1200px) 
--- */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .section-hero,
  .section-about,
  .section-pets,
  .section-why,
  .section-contact {
    padding: 3.2rem 2% 6.4rem 2%;
  }

  .heading-primary {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
  }

  .hero-description {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }

  .hero-text-box .btn:link,
  .hero-text-box .btn:visited {
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
  }

  .hero,
  .history-container,
  .mission-container,
  .pets-container,
  .let-go-container {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .heading-tertiary {
    font-size: 2rem;
  }

  .history-text p,
  .mission-text p {
    font-size: 1.6rem;
  }

  .adopt-pets,
  .let-go-pets {
    max-width: 84%;
  }
}

/* --- 
960px (Portrait tablets)
(60em * 16px = 960px)
--- */
@media (max-width: 60em) {
  /* --- 
  (1 REM = 10px)
  8px / 16 = 50%
  --- */
  html {
    font-size: 50%;
  }

  .adopt-pets,
  .let-go-pets {
    max-width: 96%;
  }

  .why-adopt-video-container {
    width: 74%;
  }

  .section-let-go {
    padding: 3.2rem 2% 6.4rem 2%;
  }
}

/* --- 
768px (Small tablets)
(48em * 16px = 768px)
--- */
@media (max-width: 48em) {
  .header {
    justify-content: center;
  }

  .main-nav {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .hero-img {
    width: 66%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .history-container,
  .mission-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .history-img-box {
    width: 100%;
    text-align: center;
  }

  .history-img {
    width: 66%;
  }

  .mission-img-box {
    width: 100%;
    text-align: center;
  }

  .mission-img {
    width: 66%;
  }

  .mission-text {
    grid-row: 1;
  }

  .pets-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .adopt-pets,
  .let-go-pets {
    border-radius: 10px;
  }

  .heading-tertiary {
    letter-spacing: -0.1px;
  }

  .why-adopt-video-container {
    width: 90%;
    height: 36rem;
  }

  .let-go-container {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 3.2rem;
  }

  .let-go-img {
    width: 66%;
  }

  .let-go-text-box,
  .let-go-img-box {
    text-align: center;
  }

  .let-go-text-box p {
    margin-bottom: 2.4rem;
  }
}

/* --- 
624px (Smallest tablets)
(39em * 16px = 624px)
--- */
@media (max-width: 39em) {
  /* --- 
  (1 REM = 10px)
  7px / 16 = 43,75%
  --- */
  html {
    font-size: 43.75%;
  }

  .hero,
  .history-container,
  .mission-container,
  .pets-container {
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }

  .hero-description {
    margin-bottom: 2.4rem;
  }

  .section-hero,
  .section-about,
  .section-pets,
  .section-why,
  .section-contact {
    padding: 3.2rem 2% 4.8rem 2%;
  }

  .adopt-pets,
  .let-go-pets {
    padding: 2.8rem;
  }

  .why-adopt-video-container {
    width: 96%;
  }

  .section-contact {
    padding-left: 4%;
    padding-right: 4%;
  }

  .contact-form-container h3 {
    text-align: center;
  }

  .contact-form-container {
    padding: 3.2rem 3.2rem;
  }

  .cta-form input,
  .cta-form select,
  .cta-form textarea {
    font-size: 1.4rem;
  }
}

/* --- 
448px (Mobile phones)
(28em * 16px = 448px) 
--- */
@media (max-width: 28em) {
  .hero-img {
    width: 78%;
  }

  .section-hero,
  .section-about,
  .section-pets,
  .section-why {
    padding: 2.4rem 2% 3.2rem 2%;
  }

  .hero,
  .history-container,
  .mission-container,
  .pets-container,
  .let-go-container {
    row-gap: 3.2rem;
  }

  .heading-secondary {
    margin-bottom: 2.4rem;
  }

  .heading-tertiary {
    margin-bottom: 1.2rem;
  }

  .adopt-pets,
  .let-go-pets {
    padding: 1.6rem;
  }

  .section-pets .btn:link,
  .section-pets .btn:visited {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }

  .why-adopt-video-container {
    height: 28rem;
  }

  .cta-form input,
  .cta-form select,
  .cta-form textarea {
    font-size: 1.2rem;
  }

  .submit-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }

  .let-go-img {
    width: 78%;
  }

  .let-go-text-box p {
    margin-bottom: 1.2rem;
  }

  .section-let-go {
    padding: 2.4rem 2% 4.8rem 2%;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 3.2rem;
    padding: 3.2rem 0 9.6rem 0;
  }

  .footer-heading {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
  }

  .footer-address {
    font-size: 2rem;
  }

  .footer-nav a {
    font-size: 2rem;
  }

  .footer-social-links {
    margin-top: 1.6rem;
    gap: 3.6rem;
  }

  .footer-socials i {
    font-size: 4.2rem;
  }
}

/* --- 
336px (Small mobile phones)
(21em * 16px = 336px) 
--- */
@media (max-width: 21em) {
  /* --- 
  (1 REM = 10px)
  6px / 16 = 37,5%
  --- */
  html {
    font-size: 37.5%;
  }
}
