/* --- HEADER --- */
.header-container {
  background-color: #15803d;
  box-shadow: 0 0.4rem 0.8rem rgba(145, 145, 145, 0.16);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}

.pet-shelter-logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #fffbeb;
}

.pet-shelter-logo h1 {
  font-size: 2.4rem;
}

/* ----- NAV ----- */
.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fffbeb;
  font-weight: 600;
  font-size: 2rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 3px solid #fffbeb;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  color: #fffbeb;
  background-color: #172554;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  transition: background-color 0.3s;
  background-color: rgba(23, 37, 84, 0.8);
  border-bottom: none;
}

/* --- HERO SECTION --- */
.section-hero {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.hero-text-box .btn:link,
.hero-text-box .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.4rem 2.8rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.hero-text-box .btn--full {
  margin-right: 2.4rem;
}

.hero-text-box .btn--full:link,
.hero-text-box .btn--full:visited {
  background-color: #15803d;
  color: #fffbeb;
}

.hero-text-box .btn--full:hover,
.hero-text-box .btn--full:active {
  background-color: rgba(21, 128, 60, 0.8);
}

.hero-text-box .btn--outline:link,
.hero-text-box .btn--outline:visited {
  background-color: #fffbeb;
  color: #172554;
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #172554;
}

.hero-text-box .btn--outline:hover,
.hero-text-box .btn--outline:active {
  background-color: #172554;
  color: #fffbeb;
}

.hero-img {
  width: 100%;
}

/* --- ABOUT US SECTION --- */
.section-about {
  background-color: #fffefb;
  padding: 4.8rem 0 9.6rem 0;
}

.about-container {
  max-width: 130rem;
  margin: 0 auto;
}

.history-container,
.mission-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.history-container {
  margin-bottom: 3.2rem;
}

.history-text p,
.mission-text p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
}

.history-img {
  width: 100%;
  border-radius: 50% 20% / 10% 40%;
}

.mission-img {
  width: 100%;
  border-radius: 10% 40% / 50% 20%;
}

/* --- PETS SECTION --- */
.section-pets {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
  max-width: 130rem;
  margin: 0 auto;
}

.pets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  justify-items: center;
}

.section-pets .heading-tertiary {
  color: #fffbeb;
}

.section-pets p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.adopt-pets,
.let-go-pets {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1.2rem 2.4rem;
}

.adopt-pets {
  border-radius: 10% 20% / 10% 20%;
  background-color: #15803d;
  color: #fffbeb;
}

.let-go-pets {
  border-radius: 20% 10% / 20% 10%;
  background-color: #172554;
  color: #fffbeb;
}

.section-pets .btn:link,
.section-pets .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}

.adopt-pets .btn--full:link,
.adopt-pets .btn--full:visited {
  background-color: #172554;
  color: #fffbeb;
}

.adopt-pets .btn--full:hover,
.adopt-pets .btn--full:active {
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 2px #fffbeb;
}

.let-go-pets .btn--full:link,
.let-go-pets .btn--full:visited {
  background-color: #15803d;
  color: #fffbeb;
}

.let-go-pets .btn--full:hover,
.let-go-pets .btn--full:active {
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 2px #fffbeb;
}

/* --- WHY ADOPT SECTION --- */
.section-why {
  background-color: #fffefb;
  padding: 4.8rem 0 9.6rem 0;
}

.why-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.why-adopt-video-container {
  align-self: center;
  width: 800px;
  height: 450px;
}

/* --- CONTACT US SECTION --- */
.section-contact {
  background-color: #fffbeb;
  padding: 4.8rem 0 9.6rem 0;
}

.contact-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  align-self: center;
  background-color: #15803d;
  color: #fffbeb;
  border-radius: 10px;
  padding: 4.8rem 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2.4rem 4.8rem;
}

.contact-form-container h3 {
  color: #fffbeb;
  text-shadow: 1px 1px 2px #15214c;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.textarea-container {
  grid-column: 1/3;
}

.form-submit-btn-container {
  grid-column: 1/3;
}

.cta-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fffefb;
  color: #15214c;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.cta-form input::placeholder {
  color: #1b233d;
}

.cta-form *:focus {
  outline: solid 2px #2cdd6d;
}

.submit-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  transition: all 0.3s;
  color: #fffbeb;
  background-color: #172554;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: rgba(23, 37, 84, 0.8);
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 2px #fffbeb;
}

/* ----- footer ----- */
footer {
  background-color: #172554;
}

.footer-container {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 0 9.6rem 0;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #2cdd6d;
  text-transform: uppercase;
}

.footer-address {
  color: #fffbeb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.footer-nav a {
  color: #fffbeb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-decoration: none;
  list-style: none;
}

.footer-nav a:hover {
  color: rgba(44, 221, 109, 0.8);
}

.footer-socials .footer-heading {
  text-align: center;
}

.footer-socials i {
  color: #f5f4e9;
  font-size: 3.6rem;
  transition: all 0.3s ease-in-out;
}

.footer-social-links {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.footer-socials i:hover {
  color: rgba(44, 221, 109, 0.8);
}
